<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gohool.login.bookappointment">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Doctor2"></activity>
        <activity android:name=".Neha_Details" />
        <activity android:name=".DoctorGRSingh" />
        <activity android:name=".Doctor01" />
        <activity android:name=".Physician" />
        <activity android:name=".EyeSpecialist" />
        <activity android:name=".Dermatologist" />
        <activity android:name=".Cardiologist" />
        <activity android:name=".Dentist" />
        <activity android:name=".Doctor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>